.wrap-qr {
    position: fixed;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
    transition-property: visibility, opacity;
}

.wrap-qr .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.wrap-qr img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#toggle-qr:checked ~ .wrap-qr {
    visibility: visible;
    opacity: 1;
}